PORT=5000
HOST=127.0.0.1
CORS_ORIGIN=http://localhost:5173,https://www.efficientgloba.com
RESEND_API_KEY=re_xxxxxxxxx
EMAIL_FROM="Efficient Global <onboarding@resend.dev>"
EMAIL_TO=abongsjoel@gmail.com,info@efficientgloba.com
DELIVERY_REQUEST_EMAIL_SUBJECT=New delivery request submission
REQUEST_INFORMATION_EMAIL_SUBJECT=New request information submission

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/efficient_global?retryWrites=true&w=majority
MONGODB_DB_NAME=efficient_global
ADMIN_SEED_NAME=Admin User
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=change-this-password
